.env
.env.backup
.env.production

/vendor/
/node_modules/

.phpunit.result.cache

/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/public/hot

# Paquetes generados para publicar en el hosting
/deploy-update/

npm-debug.log
yarn-error.log
